@font-face {
  font-family: 'PressStart2P';
  src: url('./fonts/PressStart2P-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Pangolin';
  src: url('./fonts/Pangolin-Regular.ttf');
  font-weight: 400;
}